
<div class="row mt-5 mb-3">
  <div class="col text-end">
    <button
      routerLink="addProduct"
      mat-raised-button
      color="primary">
      Add Product
    </button>
  </div>
</div>

<div class="row" *ngIf="getAllProducts.length > 0; else noProductsInDatabase">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-header">
        <h5 class="mb-0">Product List</h5>
      </div>

      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li
          routerLinkActive="active"
            *ngFor="let product of getAllProducts"
            [routerLink]="[product.productId]"
            class="list-group-item list-group-item-action"
            style="cursor: pointer;">
            {{ product.productName }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #noProductsInDatabase>
  <p class="alert alert-info">
    No Products in database yet..!
  </p>
</ng-template>